
.env
.env.*
*.key
certs/client.key
certs/server.key
certs/client.pkcs8.key


**/node_modules/
**/dist/
**/dist-ssr/
**/.npm/


__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/


**/target/
Cargo.lock


**/target/
*.class
*.jar
*.war

.DS_Store
Thumbs.db